<body>
  <!-- Include the navigation partial -->
  <div id="nav"><%- include('partials/navigation') %></div>
  <%- body %>
  <!-- Include the footer partial -->
  <div id="footer"><%- include('partials/footer') %></div>
</body>
